<app-tolbar-navigation></app-tolbar-navigation>

<div class="grid p-fluid">
  <div class="col-12 d-xl-flex">
    <div class="card">
      <!-- <h5>Carousel</h5> -->
      <p-carousel
        [value]="stocks"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="3000"
      >
        <ng-template let-stocks pTemplate="item">
          <div
            class="border-round m-2 text-center p-2"
            style="border: 1px solid var(--surface-d)"
          >
            <div class="my-5">
              <img
                [src]="stocks.imgProducts"
                [alt]="stocks.nome"
                (error)="onImageError($event)"
                class="shadow-4"
                width="50px"
                height="50px"
              />
            </div>
            <div>
              <h5 class="mb-1">{{ stocks.nome }}</h5>
              <h6 class="mt-0 mb-3">{{ stocks.price | currency : "BRL" }}</h6>
              <span
                [class]="
                  'product-badge status-' + stocks.inventoryStatus.toLowerCase()
                "
                >{{ stocks.inventoryStatus }}</span
              >
              <div class="my-5">
                <p-button
                  class="mr-2 p-button-rounded"
                  icon="pi pi-pencil"
                  pButton
                  pRipple
                  (click)="showDialog(stocks.uid)"
                ></p-button>
                <p-button
                  pButton
                  pRipple
                  icon="pi pi-star-fill"
                  class="mr-2 p-button-rounded p-button-success"
                ></p-button>

                <p-button
                  icon="pi pi-trash"
                  (click)="deleteProduct(stocks.uid)"
                  icon="pi pi-trash"
                  [rounded]="true"
                  severity="danger"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visible">
  <ng-template
    pTemplate="headless"
    [formGroup]="stockSForm"
  >
    <div
      class="flex flex-column px-8 py-5 gap-4"
      style="
        border-radius: 12px;
        background-image: radial-gradient(
          circle at left top,
          var(--primary-400),
          var(--primary-700)
        );
      "
    >
      <div class="inline-flex flex-column gap-2">
        <label for="nome" class="text-primary-50 font-semibold"
          >Nome do Produto</label
        >
        <input
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          formControlName="nome"
          [(ngModel)]="stockSForm.value.nome"
          type="text"
          pInputText
          id="nome"
        />
      </div>

      <div class="inline-flex flex-column gap-2">
        <label for="description" class="text-primary-50 font-semibold"
          >Descrição</label
        >
        <textarea
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          pTooltip="Descrição"
          id="float-input"
          pInputTextarea
          cols="30"
          formControlName="description"
          [(ngModel)]="stockSForm.value.description"
          type="description"
          rows="5"
        ></textarea>
      </div>

      <div class="inline-flex flex-column gap-2">
        <label
          for="nome"
          class="flex justify-content-center text-primary-50 font-semibold"
          >Categoria</label
        >
        <mat-radio-group
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          [(ngModel)]="stockSForm.value.category"
          formControlName="category"
          aria-label="Select an option"
        >
          <mat-radio-button class="m-2" value="eletronicos"
            >Eletronicos</mat-radio-button
          >
          <mat-radio-button class="m-2" value="acessórios"
            >Acessórios</mat-radio-button
          >
          <mat-radio-button class="m-2" value="gamer">Gamer</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="inline-flex flex-column gap-2">
        <label
          for="description"
          class="flex justify-content-center text-primary-50 font-semibold"
          >Estoque</label
        >
        <mat-radio-group
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          [(ngModel)]="stockSForm.value.inventoryStatus"
          formControlName="inventoryStatus"
          aria-label="Select an option"
        >
          <mat-radio-button
            class="m-2 text-primary-50 font-semibold"
            value="EM ESTOQUE"
            >EM ESTOQUE</mat-radio-button
          >
          <mat-radio-button
            class="m-2 text-primary-50 font-semibold"
            value="BAIXO ESTOQUE"
            >BAIXO ESTOQUE</mat-radio-button
          >
          <mat-radio-button
            class="m-2 text-primary-50 font-semibold"
            value="FORA DE ESTOQUE"
            >FORA DE ESTOQUE</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <div>
        <div class="inline-flex flex-column gap-2">
          <label
            for="nome"
            class="flex justify-content-center text-primary-50 font-semibold"
            >Valor da unidade</label
          >
          <p-inputNumber
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
            pTooltip="Valor da unidade"
            inputId="currency-BRL"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
            formControlName="price"
            [(ngModel)]="stockSForm.value.price"
            [step]="0.1"
          >
          </p-inputNumber>
        </div>

        <div class="inline-flex flex-column gap-2">
          <label
            for="nome"
            class="flex justify-content-center text-primary-50 font-semibold"
            >Quantidade itens</label
          >
          <p-inputNumber
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
            inputId="integeronly"
            formControlName="quantity"
            pTooltip="Quantidade itens"
            [(ngModel)]="stockSForm.value.quantity"
          >
          </p-inputNumber>
        </div>
      </div>
      <div class="flex align-items-center gap-2">
        <p-button
          label="Update"
          (click)="updateStock($event)"
          [text]="true"
          styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
          class="w-full"
        ></p-button>
        <p-button
          label="Cancel"
          (click)="closeDialog()"
          [text]="true"
          styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
          class="w-full"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
