<app-tolbar-navigation></app-tolbar-navigation>
<form [formGroup]="updateProductsForm" (ngSubmit)="updateOnSubmit()">
  <div class="p-grid p-justify-center">
    <div
      class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
    >
      <div
        class="flex flex-wrap justify-content-center align-items-center gap-2"
      >
        <label class="w-6rem">Img</label>
        <input
          class="form-control w-12rem"
          type="file"
          id="formFile"
          formControlName="imgProducts"
          (change)="uploadImage($event)"
        />
        <div class="image-task">
          <img [src]="updateProductsForm.controls['imgProducts'].value" alt />
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-content-center align-items-center gap-2">
      <label class="w-6rem">Nome do Produto</label>
      <input
        pInputText
        id="nome"
        formControlName="nome"
        type="text"
        class="w-12rem"
        [(ngModel)]="updateProductsForm.value.nome"
      />
    </div>

    <div
      class="flex flex-wrap justify-content-center align-items-center gap-2 mt-3"
    >
      <label class="w-6rem">Descrição</label>
      <textarea
        class="w-12rem"
        pTooltip="Descrição"
        id="float-input"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="value"
        formControlName="description"
        [(ngModel)]="updateProductsForm.value.description"
      ></textarea>
    </div>

    <div
      class="flex flex-wrap justify-content-center align-items-center gap-2 mt-3"
    >
      <label for="price" class="w-6rem">Valor da unidade</label>
      <mat-radio-group
        class="w-12rem"
        [(ngModel)]="category"
        formControlName="category"
        aria-label="Select an option"
        [(ngModel)]="updateProductsForm.value.category"
      >
        <mat-radio-button class="m-2" value="eletronicos"
          >Eletronicos</mat-radio-button
        >
        <mat-radio-button class="m-2" value="acessórios"
          >Acessórios</mat-radio-button
        >
        <mat-radio-button class="m-2" value="gamer">Gamer</mat-radio-button>
      </mat-radio-group>
    </div>

    <div
      class="flex flex-wrap justify-content-center align-items-center gap-2 mt-3"
    >
      <label class="w-6rem">Estoque</label>
      <mat-radio-group
        class="w-12rem"
        [(ngModel)]="inventoryStatus"
        formControlName="inventoryStatus"
        aria-label="Select an option"
        [(ngModel)]="updateProductsForm.value.inventoryStatus"
      >
        <mat-radio-button class="m-2" value="EM ESTOQUE"
          >EM ESTOQUE</mat-radio-button
        >
        <mat-radio-button class="m-2" value="BAIXO ESTOQUE"
          >BAIXO ESTOQUE</mat-radio-button
        >
        <mat-radio-button class="m-2" value="FORA DE ESTOQUE"
          >FORA DE ESTOQUE</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div
      class="flex flex-wrap justify-content-center align-items-center gap-2 mt-3"
    >
      <label class="w-6rem">Valor da unidade</label>
      <p-inputNumber
        class="w-12rem"
        pTooltip="Valor da unidade"
        inputId="currency-BRL"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        formControlName="price"
        [(ngModel)]="updateProductsForm.value.price"
        [step]="0.1"
      >
      </p-inputNumber>
    </div>

    <div
      class="flex flex-wrap justify-content-center align-items-center gap-2 mt-3"
    >
      <label class="w-6rem">Quantidade itens</label>
      <p-inputNumber
        class="w-12rem"
        inputId="integeronly"
        formControlName="quantity"
        pTooltip="Quantidade itens"
        [(ngModel)]="updateProductsForm.value.quantity"
      >
      </p-inputNumber>
    </div>
  </div>

  <p-button
    class="btn btn-primary w-full mt-4 flex center justify-content-center"
    label="confirmar"
    type="submit"
  ></p-button>
</form>
