<app-tolbar-navigation></app-tolbar-navigation>

<div class="flex grid justify-content-center gap-6 my-6">
  <p-fieldset class="gap-1">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <a class="pi pi-box"></a>
        <span class="font-bold">Quantidade de itens</span>
      </div>
    </ng-template>
    <p class="m-0">
      <a class="pi pi-book"></a>
      {{ quantityOfItems() }}
    </p>
  </p-fieldset>

  <p-fieldset class="gap-1 btn btn-primary">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-1 px-2">
        <a class="pi pi-star"></a>
        <span class="font-bold">faturamento da STARGAMER</span>
      </div>
    </ng-template>
    <p class="m-0">
      <a class="pi pi-calculator"></a>
      {{ calculateTotalSales() | currency : " symbol" : "R$" }}
    </p>
  </p-fieldset>
</div>

<div class="col-12 xl:col-6">
  <p-table
    [value]="displayProducts"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Produtos...
        <p-button icon="pi pi-refresh"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Image</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Qtdade</th>
        <th>Status</th>
        <!-- <th>Status</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-displayProducts>
      <tr>
        <td>{{ displayProducts.nome }}</td>
        <td>
          <img
            [src]="displayProducts.imgProducts"
            [alt]="displayProducts.nome"
            width="50"
            class="shadow-4"
          />
        </td>
        <td>{{ displayProducts.price | currency : "BRL" }}</td>
        <td>{{ displayProducts.category }}</td>
        <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
        <td>
          <p-tag
            [value]="displayProducts.quantity"
            [severity]="getSeverity(displayProducts.inventoryStatus)"
          ></p-tag>
        </td>
        <td>
          <p-tag
            [value]="displayProducts.inventoryStatus"
            [severity]="getSeverity(displayProducts.inventoryStatus)"
          ></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
  <div class="card">
    <p-chart type="bar" [data]="basicData" [options]="GraficoItens"></p-chart>
  </div>
