:host ::ng-deep {
  .product-item {
    .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: 0.3rem;
      text-align: center;
      padding: 2rem 0;
    }

    .product-image {
      width: 50%;
      box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
}

.outofstock {
  font-weight: 700;
  color: #ff5252;
  text-decoration: line-through;
}

.lowstock {
  font-weight: 700;
  color: #ffa726;
}

.instock {
  font-weight: 700;
  color: #66bb6a;
}

:host ::ng-deep .row-accessories {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

fieldset {
  width: 10px;
  height: 10px;
}

.fieldset{
  width: 190%;
  height: 100px;
}



/* app.component.scss */
:host {
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  color: var(--primary-color);
}

.button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Outro arquivo de componente */
.container {
  background-color: var(--secondary-color);
  padding: 1rem;
}

p-chart{
  width: max-content;
}

#chart {
  padding: 0;
  max-width: 650px;
  margin: 35px auto;
}

