<app-tolbar-navigation></app-tolbar-navigation>

<div class=" flex grid justify-content-center gap-6 my-6">
    <p-fieldset class="gap-1">
      <ng-template pTemplate="header" >
        <div class="flex align-items-center gap-1 px-2">
          <a class="pi pi-box"></a>
          <span class="font-bold">Quantidade de itens</span>
        </div>
      </ng-template>
      <p class="m-0">
        <a class="pi pi-book"></a>
        {{ quantityOfItems() }}
      </p>
    </p-fieldset>

    <p-fieldset class="gap-1 btn btn-primary">
      <ng-template pTemplate="header" >
        <div class="flex align-items-center gap-1 px-2">
          <a class="pi pi-star"></a>
          <span class="font-bold">faturamento da STARGAMER</span>
        </div>
      </ng-template>
      <p class="m-0">
        <a class="pi pi-calculator"></a>
        {{ calculateTotalSales() | currency : " symbol" : "R$" }}
      </p>
    </p-fieldset>

  </div>


<p-carousel
  [value]="displayProducts"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="3000"
>
  <ng-template let-displayProducts pTemplate="item">
    <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
      <div class="mb-3">
        <p-image
          src="{{ displayProducts.imgProducts }}"
          alt="Image"
          width="250"
          [preview]="true"
          [alt]="displayProducts.name"
          class="w-6 shadow-2"
        ></p-image>
      </div>
      <div>
        <h4 class="mb-1">{{ displayProducts.nome }}</h4>
        <h6 class="mt-0 mb-3">
          {{ displayProducts.price | currency : " symbol" : "R$" }}
        </h6>
        <div
          [ngClass]="{
            outofstock: displayProducts.quantity === 0,
            lowstock:
              displayProducts.quantity > 0 && displayProducts.quantity < 10,
            instock: displayProducts.quantity > 10
          }"
        >
          {{ displayProducts.quantity }}
        </div>

        <!-- <p-tag
          [value]="displayProducts.inventoryStatus"
          [severity]="getSeverity(displayProducts.inventoryStatus)"
        ></p-tag> -->
        <div class="mt-5 flex align-items-center justify-content-center gap-2">
          <p-button icon="pi pi-cart-plus" [rounded]="true" />
          <p-button
            icon="pi pi-star-fill"
            [rounded]="true"
            severity="secondary"
          />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- <div *ngFor="let display of displayProducts">
  {{ display.price * display.quantity | currency : " symbol" : "R$"}}
</div>

<p>Total Quantity: {{ quantityOfItems() }}</p>

<p>Total Quantity: {{ calculateTotalSales() | currency : " symbol" : "R$" }}</p> -->
