<app-tolbar-navigation></app-tolbar-navigation>

<form
  [formGroup]="addProductsForm"
  (ngSubmit)="addProductsSubmit()"
  class="flex flex-column justify-content-center align-content-center px-8 py-5 gap-4"
  style="
    border-radius: 12px;
    height: 750px;
    width: 75%;
    background-image: radial-gradient(
      circle at left top,
      var(--primary-700),
      var(--primary-900)
    );
  "
>
  <div class="flex flex-column md:flex-row">
    <div
      class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
    >
      <div
        class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
      >
        <div
          class="flex flex-wrap justify-content-center align-items-center gap-2"
        >
          <label class="w-6rem">Img</label>
          <input
            class="form-control w-12rem"
            type="file"
            id="formFile"
            formControlName="imgProducts"
            (change)="uploadImage($event)"
          />
          <div class="image-task">
            <img
              class="flex"
              width="600px"
              height="500px"
              [src]="addProductsForm.controls['imgProducts'].value"
              (error)="onImageError($event)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-2">
      <p-divider layout="vertical" styleClass="hidden md:flex"
        ><b>OR</b></p-divider
      >
      <p-divider
        layout="horizontal"
        styleClass="flex md:hidden"
        [align]="'center'"
        ><b>OR</b></p-divider
      >
    </div>
    <div class="">
      <div class="gap-2">
        <label
          for="nome"
          class="flex align-content-center text-primary-50 font-semibold"
          >Nome do Produto</label
        >
        <input
          class="bg-white-alpha-20 w-7 border-none m-1 text-primary-50"
          formControlName="nome"
          type="text"
          pInputText
          id="nome"
        />
      </div>

      <div class="gap-2">
        <label for="description" class="flex m-3 text-primary-50 font-semibold"
          >Descrição</label
        >
        <textarea
          class="bg-white-alpha-20 w-7 border-none text-primary-50"
          pTooltip="Descrição"
          id="float-input"
          pInputTextarea
          cols="30"
          formControlName="description"
          type="description"
          rows="5"
        ></textarea>
      </div>

      <div class="inline-flex flex-column gap-2">
        <label
          for="nome"
          class="flex justify-content-center m-2 text-primary-50 font-semibold"
          >Categoria</label
        >
        <mat-radio-group
          class="bg-white-alpha-20 w-max border-none p-3 text-primary-50"
          formControlName="category"
          aria-label="Select an option"
        >
          <mat-radio-button class="m-2" value="eletronicos"
            >Eletronicos</mat-radio-button
          >
          <mat-radio-button class="m-2" value="acessórios"
            >Acessórios</mat-radio-button
          >
          <mat-radio-button class="m-2" value="gamer">Gamer</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="inline-flex flex-column gap-2">
        <label
          for="description"
          class="flex justify-content-center m-2 text-primary-50 font-semibold"
          >Estoque</label
        >
        <mat-radio-group
          class="bg-white-alpha-20 border-none p-3 text-primary-50"
          formControlName="inventoryStatus"
          aria-label="Select an option"
        >
          <mat-radio-button
            class="m-2 text-primary-50 font-semibold"
            value="EM ESTOQUE"
            >EM ESTOQUE</mat-radio-button
          >
          <mat-radio-button
            class="m-2 text-primary-50 font-semibold"
            value="BAIXO ESTOQUE"
            >BAIXO ESTOQUE</mat-radio-button
          >
          <mat-radio-button
            class="m-2 text-primary-50 font-semibold"
            value="FORA DE ESTOQUE"
            >FORA DE ESTOQUE</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <div>
        <div class="inline-flex flex-column gap-2">
          <label
            for="nome"
            class="flex justify-content-center m-2 text-primary-50 font-semibold"
            >Valor da unidade</label
          >
          <p-inputNumber
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
            pTooltip="Valor da unidade"
            inputId="currency-BRL"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
            formControlName="price"
            [step]="0.1"
          >
          </p-inputNumber>
        </div>

        <div class="inline-flex flex-column gap-2">
          <label
            for="nome"
            class="flex justify-content-center m-2 text-primary-50 font-semibold"
            >Quantidade itens</label
          >
          <p-inputNumber
            class="bg-white-alpha-20 border-none p-3 text-primary-50"
            inputId="integeronly"
            formControlName="quantity"
            pTooltip="Quantidade itens"
          >
          </p-inputNumber>
        </div>
      </div>
    </div>
  </div>
  <div class="flex align-items-center gap-2">
    <p-button
      label="Confirmar"
      [text]="true"
      styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10"
      class="w-full"
      type="submit"
    ></p-button>
  </div>
</form>

<div *ngFor="let product of products">
  <h3>{{ product.nome }}</h3>
  <p>{{ product.price }}</p>
</div>
