<app-navbar></app-navbar>

<form [formGroup]="loginForm">
  <p-card
    class="flex m-8 justify-content-center"
    header="login"
    subheader="Produtos"
    [style]="{ width: '390px' }"
  >
    <ng-template pTemplate="header" class="flex flex-column align-items-start">
      <img
        id="imgLogin"
        class="flex block m-auto pb-3 column-gap-lg-5"
        alt="Card"
        src="../../../assets/img_login/logo.jpg"
      />
    </ng-template>
    <div class="p-grid p-justify-center" style="position: absolut">
      <div class="flex p-col-12 mt-2">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
            formControlName="email"
          />
          <label for="float-input">Email</label>
        </span>
      </div>
      <div class="p-col-12 mt-5">
        <span class="p-float-label">
          <input
            id="float-input"
            type="password"
            size="30"
            pInputText
            formControlName="password"
          />
          <label for="float-input">password</label>
        </span>
      </div>
    </div>

    <p-toast position="bottom-center" key="confirm" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
          <div class="flex align-items-center gap-2">
            <p-avatar
              image="https://primefaces.org/cdn/primeng/images/avatar/amyelsner.png"
              shape="circle"
            />
            <span class="font-bold text-900">Amy Elsner</span>
          </div>
          <div class="font-medium text-lg my-3 text-900">
            {{ user?.nome }}
          </div>
        </div>
      </ng-template>
    </p-toast>
    <div class="flex align-items-center gap-2">
      <p-button
        [label]="!loading ? 'Confirmar' : 'loading...'"
        [disabled]="loading || loginForm.invalid"
        (click)="loadData()"
        class="btn btn-primary w-full mt-4 flex center justify-content-center"
      >
      <p-progressSpinner
    *ngIf="loading"
    styleClass="w-3rem h-3rem"
    strokeWidth="5"
    animationDuration=".45s"
  ></p-progressSpinner>
    </p-button>

    </div>
  </p-card>
</form>
